/**
 * @file
 * The main cascading style sheet.
 *
 * Some more comment to put here.
 *
 * Author: Mitch Rompelman.
 * Date: 14-04-2014.
 * Date modified: 14-04-2014.
 * Time: 12:25:37.
 */
 
body {
	font-family: Consolas;
	font-size: 10px;
	color: #000000;
}
div.print-holder {
	width: 1090px; /* Max for browsers */
	height: 100%;
	border-style: dashed;
	border-width: 1px;
	border-color: #26ADE0;
}
